{{ hello }} {{ 'world'|trans }}!
<br>
<a href="{{ url('homepage') }}">Homepage</a>
<br>
<a href="{{ url('admin') }}">{{ 'Go to admin panel'|trans }}</a>
<br>
{% for month in monthArray %}
    <p>{{ month }}</p>
{% endfor %}